.header{
    height: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white
}

.header_option:hover{
    transform: scale(1.04);
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_optionLineOne{
    font-size: 10px;
}

.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: white
}

.header_optionBasket:hover{
    transform: scale(1.04);
}

.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}